<h1>Listing students</h1>

<table id="students-table">
  <tr>
    <th>name</th>
    <th>email</th>
    <th>mobile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New student</a>