<h1>New student</h1>

<form id="new-student" name="student">
<div class="field">
<label for="name"> name:</label>
<input type="text" name="name" id="name" value="<%= name %>" >
</div>

<div class="field">
<label for="email"> email:</label>
<input type="text" name="email" id="email" value="<%= email %>" >
</div>

<div class="field">
<label for="mobile"> mobile:</label>
<input type="text" name="mobile" id="mobile" value="<%= mobile %>" >
</div>

<div class="actions">
<input type="submit" value="Create student" />
</div>

</form>

<a href="#/index">Back</a>